* {
  padding: 0;
  margin: 0;
  font-family: "Calibri", Helvetica, sans-serif;
  color: #2a2a2a;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9c91b6;
}

.bold {
  font-weight: 600;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #9c91b6;
  padding: 2rem;
  gap: 2rem;
}
header h1 {
  text-align: center;
  font-family: "Dejavu Sans", Helvetica, sans-serif;
  font-size: 2rem;
  color: #d5d5d5;
}
header p {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: #d5d5d5;
}

@media (min-width: 700px) {
  header {
    position: fixed;
    height: 2rem;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 4rem);
    z-index: 1;
  }
  header p {
    flex: 1;
    text-align: end;
    padding-right: 20%;
  }
}
.content {
  display: flex;
  flex-direction: column;
}
.content main {
  display: flex;
  flex-direction: column;
  background-color: #bbb2d0;
}
.content main .card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
.content main .card a {
  display: flex;
  flex-direction: column;
}
.content main .card a .card-img {
  border-radius: 20px 20px 0 0;
}
.content main .card .card-desc {
  background-color: rgba(217, 217, 217, 0.3607843137);
  padding: 0.5rem;
  border-radius: 0 0 20px 20px;
}
.content main .card .card-desc p {
  padding-top: 0.5rem;
  text-align: end;
}

@media (min-width: 700px) {
  .content {
    position: relative;
    top: 6rem;
    height: 90%;
    flex: 1;
  }
  .content main {
    top: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
    flex: 1;
  }
  .content main .card {
    opacity: 60%;
  }
  .content main .card:hover {
    opacity: 100%;
  }
  .content main .card .card-desc p {
    padding-right: 0.5rem;
  }
}
footer {
  background-color: #9c91b6;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  font-weight: bold;
}
footer ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer ul a {
  text-decoration: none;
}

.icon {
  width: 24px;
}

@media (min-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 80% 20%;
  }
  footer {
    position: fixed;
    left: 80%;
    width: 20%;
    height: 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
.container .contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 0.5rem;
  background-color: #9c91b6;
  border-radius: 20px;
}
.container .contact-card .contact-photo {
  border-radius: 50%;
  width: 90%;
  border: 2px solid rgba(42, 42, 42, 0.2509803922);
}
.container .contact-card .contact-text {
  text-align: start;
  width: 80%;
  padding: 0.5rem;
  background-color: rgba(217, 217, 217, 0.3607843137);
}
.container .contact-card .contact-text p {
  padding: 0.2rem;
}
.container .cv-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(217, 217, 217, 0.3607843137);
  border-radius: 20px;
  gap: 0rem;
  width: 100%;
  padding: 1rem 0;
}
.container .cv-card .entry {
  padding: 0.5rem 0;
}
.container .cv-card p {
  padding: 0rem 1rem;
}
.container .cv-card ul {
  padding: 0.25rem 2rem;
  padding-top: 0rem;
}
.container .cv-card .pt-1 {
  padding-top: 1rem;
}
.container .cv-card .text-center {
  width: calc(100% - 2rem);
  text-align: center;
}

@media (min-width: 700px) {
  #about-main {
    display: block;
  }
  .container {
    width: calc(100% - 4rem);
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
