@use "../globals/variables.scss" as variables;

main {
  display: flex;
  flex-direction: column;
  background-color: variables.$color-primary;
  flex: 1;
  .card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    a {
      display: flex;
      flex-direction: column;
      .card-img {
        border-radius: 20px 20px 0 0;
      }
    }
    .card-desc {
      background-color: variables.$color-textbox;
      padding: 0.5rem;
      border-radius: 0 0 20px 20px;
      p {
        padding-top: 0.5rem;
        text-align: end;
      }
    }
  }
}

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    .card {
      .card-desc {
        p {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
